.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features .feat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.feat-card:hover {
  background-color: var(--dash-color-primary);
  color: var(--dash-color-white);
}
