.dash-main-text {
    margin: auto;
    text-align: center;
}


.navbar__title {
    color: var(--dash-font-color);
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgba(83, 84, 229, 1) 0%,
      rgba(230, 59, 94, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  .site-title {
    color: var(--dash-font-color);
    background: linear-gradient(
      90deg,
      rgba(83, 84, 229, 1) 10%,
      rgb(230, 59, 94) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  