@each $name, $val in $colors {
  .bg-#{$name} {
    background-color: $val;
  }

  @include media(bg-#{$name}) {
    background-color: $val;
  }
}

.bg-none {
  background-color: transparent;
}

@include media(bg-none) {
  background-color: transparent;
}
