@each $name, $val in $sizes {
  .blur-#{$name} {
    -webkit-filter: blur($val);
    -moz-filter: blur($val);
    -o-filter: blur($val);
    -ms-filter: blur($val);
    filter: blur($val);
  }

  @include media(blur-#{$name}) {
    -webkit-filter: blur($val);
    -moz-filter: blur($val);
    -o-filter: blur($val);
    -ms-filter: blur($val);
    filter: blur($val);
  }
}
