@each $name, $val in $colors {
  .border-#{$name} {
    border-color: $val;
  }

  @include media(border-#{$name}) {
    border-color: $val;
  }
}
@each $name, $val in $sizes {
  .border-#{$name} {
    border-width: $val;
  }

  @include media(border-#{$name}) {
    border-width: $val;
  }
}

.border-solid {
  border-style: solid;
}

@include media(border-solid) {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

@include media(border-dashed) {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

@include media(border-dotted) {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

@include media(border-double) {
  border-style: double;
}

.border-none {
  border-style: none;
}

@include media(border-none) {
  border-style: none;
}
