.btn {
  color: var(--dash-font-color);
  background-color: var(--dash-color-primary);
  border: none;
  border-radius: var(--dash-size-sm);
  padding: var(--dash-size-sm) calc(var(--dash-size-sm) * 2);
  outline: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--dash-size-sm);
  outline-offset: 2px;
  line-height: 1.2;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    /* Grow the button by 2px on hover */
    transform: scale(1.01);
  }

  &:active {
    /* Apply filter to highlight element */
    filter: brightness(1.5);
  }
}

@each $name, $val in $colors {
  .btn-#{$name} {
    background-color: $val;
  }
}



@each $name, $val in $sizes {
  .btn-round-#{$name} {
    border-radius: $val;
  }
}

@each $name, $val in $colors {
  .btn-outline-#{$name} {
    background-color: transparent;
    border: 1px solid $val;
    color: $val;

    &:hover {
      background-color: $val;
      color: var(--dash-color-white);
    }
  }
}

@each $name, $val in $colors {
  .btn-ghost-#{$name} {
    background-color: transparent;
    border: 1px solid transparent;
    color: $val;

    &:hover {
      background-color: $val;
      color: var(--dash-font-color);
    }
  }
}

@each $name, $val in $colors {
  .btn-link-#{$name} {
    background-color: transparent;
    border: 1px solid transparent;
    color: $val;

    &:hover {
      text-decoration: underline;
    }
  }
}


.btn-disabled {
  opacity: 0.4;
}

.btn-disabled:hover {
  cursor: not-allowed;
}

/* // Add spinner to button */
.loading-left {
  opacity: 0.4;
}

.loading-left:hover {
  cursor: not-allowed;
}

.loading-left::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  margin-right: 0.5em;
  animation: dash-rotation 1s linear infinite;
}

.loading-right {
  opacity: 0.4;
}

.loading-right:hover {
  cursor: not-allowed;
}

.loading-right::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  margin-right: 0.5em;
  animation: dash-rotation 1s linear infinite;
}
