.cursor-pointer {
  cursor: pointer;
}

@include media(cursor-pointer) {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

@include media(cursor-auto) {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

@include media(cursor-default) {
  cursor: default;
}

.cursor-none {
  cursor: none;
}

@include media(cursor-none) {
  cursor: none;
}

.cursor-wait {
  cursor: wait;
}

@include media(cursor-wait) {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

@include media(cursor-text) {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

@include media(cursor-move) {
  cursor: move;
}

.cursor-help {
  cursor: help;
}

@include media(cursor-help) {
  cursor: help;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

@include media(cursor-not-allowed) {
  cursor: not-allowed;
}

.cursor-grab {
  cursor: grab;
}

@include media(cursor-grab) {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

@include media(cursor-grabbing) {
  cursor: grabbing;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

@include media(cursor-all-scroll) {
  cursor: all-scroll;
}

.cursor-col-resize {
  cursor: col-resize;
}

@include media(cursor-col-resize) {
  cursor: col-resize;
}

.cursor-row-resize {
  cursor: row-resize;
}

@include media(cursor-row-resize) {
  cursor: row-resize;
}

.cursor-n-resize {
  cursor: n-resize;
}

@include media(cursor-n-resize) {
  cursor: n-resize;
}

.cursor-e-resize {
  cursor: e-resize;
}

@include media(cursor-e-resize) {
  cursor: e-resize;
}

.cursor-s-resize {
  cursor: s-resize;
}

@include media(cursor-s-resize) {
  cursor: s-resize;
}

.cursor-w-resize {
  cursor: w-resize;
}

@include media(cursor-w-resize) {
  cursor: w-resize;
}

.cursor-ne-resize {
  cursor: ne-resize;
}

@include media(cursor-ne-resize) {
  cursor: ne-resize;
}

.cursor-nw-resize {
  cursor: nw-resize;
}

@include media(cursor-nw-resize) {
  cursor: nw-resize;
}

.cursor-se-resize {
  cursor: se-resize;
}

@include media(cursor-se-resize) {
  cursor: se-resize;
}

.cursor-sw-resize {
  cursor: sw-resize;
}

@include media(cursor-sw-resize) {
  cursor: sw-resize;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

@include media(cursor-ew-resize) {
  cursor: ew-resize;
}

.cursor-ns-resize {
  cursor: ns-resize;
}

@include media(cursor-ns-resize) {
  cursor: ns-resize;
}

.cursor-nesw-resize {
  cursor: nesw-resize;
}

@include media(cursor-nesw-resize) {
  cursor: nesw-resize;
}

.cursor-nwse-resize {
  cursor: nwse-resize;
}

@include media(cursor-nwse-resize) {
  cursor: nwse-resize;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

@include media(cursor-zoom-in) {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

@include media(cursor-zoom-out) {
  cursor: zoom-out;
}

.cursor-pointer-events-none {
  pointer-events: none;
}

@include media(cursor-pointer-events-none) {
  pointer-events: none;
}

.cursor-pointer-events-auto {
  pointer-events: auto;
}

@include media(cursor-pointer-events-auto) {
  pointer-events: auto;
}
