.flex {
  display: flex;
}

@include media(flex) {
  display: flex;
}

.items-center {
  align-items: center;
}

@include media(items-center) {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

@include media(items-start) {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

@include media(items-end) {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

@include media(items-baseline) {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

@include media(items-stretch) {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

@include media(self-start) {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

@include media(self-end) {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

@include media(self-center) {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

@include media(self-baseline) {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

@include media(self-stretch) {
  align-self: stretch;
}

.justify-start {
  justify-content: flex-start;
}

@include media(justify-start) {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

@include media(justify-end) {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

@include media(justify-between) {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

@include media(justify-around) {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

@include media(justify-evenly) {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

@include media(justify-center) {
  justify-content: center;
}

@each $name, $val in $sizes {
  .gap-#{$name} {
    gap: $val;
  }

  @include media(gap-#{$name}) {
    gap: $val;
  }
}

.flex-col {
  flex-direction: column;
}

@include media(flex-col) {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

@include media(flex-col-reverse) {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

@include media(flex-row) {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

@include media(flex-row-reverse) {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

@include media(flex-wrap) {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@include media(flex-wrap-reverse) {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@include media(flex-nowrap) {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

@include media(flex-1) {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

@include media(flex-auto) {
  flex: auto;
}

.flex-initial {
  flex: initial;
}

@include media(flex-initial) {
  flex: initial;
}

.flex-none {
  flex: none;
}

@include media(flex-none) {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

@include media(flex-grow-0) {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

@include media(flex-grow) {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@include media(flex-shrink-0) {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

@include media(flex-shrink) {
  flex-shrink: 1;
}