.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

@include media(grid) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

@each $name, $val in $numbers {
  .grid-col-#{$name} {
    grid-column: span $val;
  }

  @include media(grid-col-#{$name}) {
    grid-column: span $val;
  }
}

@each $name, $val in $numbers {
  .grid-row-#{$name} {
    grid-row: span $val;
  }

  @include media(grid-row-#{$name}) {
    grid-row: span $val;
  }
}

@each $name, $val in $numbers {
  .grid-t-cols-#{$name} {
    grid-template-columns: repeat($val, 1fr);
  }

  @include media(grid-t-cols-#{$name}) {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $name, $val in $numbers {
  .grid-t-rows-#{$name} {
    grid-template-rows: repeat($val, 1fr);
  }

  @include media(grid-t-rows-#{$name}) {
    grid-template-rows: repeat($val, 1fr);
  }
}

@each $name, $val in $sizes {
  .grid-gap-#{$name} {
    grid-gap: $val;
  }

  @include media(grid-gap-#{$name}) {
    grid-gap: $val;
  }
}
