textarea {
  accent-color: var(--dash-color-primary);
  transition: all 0.2s ease-in-out;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  width: 100%;
  font-family: inherit;
  height: 10em;
}

textarea:focus {
  border: 2px solid var(--dash-color-primary);
}

textarea:hover {
  filter: brightness(1.5);
}
