.overflow-hidden {
  overflow: hidden;
}

@include media(overflow-hidden) {
  overflow: hidden;
}

.hoverflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

@include media(hoverflow-auto) {
  overflow-x: auto;
  overflow-y: auto;
}

.hoverflow-x-auto {
  overflow-x: auto;
}

@include media(hoverflow-x-auto) {
  overflow-x: auto;
}

.hoverflow-y-auto {
  overflow-y: auto;
}

@include media(hoverflow-y-auto) {
  overflow-y: auto;
}
