@each $name, $val in $colors {
  .text-#{$name} {
    color: $val;
  }

  @include media(text-#{$name}) {
    color: $val;
  }
}

@each $name, $val in $sizes {
  .text-#{$name} {
    font-size: $val;
  }

  @include media(text-#{$name}) {
    font-size: $val;
  }
}

.text-normal {
  font-weight: var(--dash-font-weight-normal);
}

@include media(text-normal) {
  font-weight: var(--dash-font-weight-normal);
}

.text-medium {
  font-weight: var(--dash-font-weight-medium);
}

@include media(text-medium) {
  font-weight: var(--dash-font-weight-medium);
}

.text-semibold {
  font-weight: var(--dash-font-weight-semibold);
}

@include media(text-semibold) {
  font-weight: var(--dash-font-weight-semibold);
}

.text-bold {
  font-weight: var(--dash-font-weight-bold);
}

@include media(text-bold) {
  font-weight: var(--dash-font-weight-bold);
}

.text-extrabold {
  font-weight: var(--dash-font-weight-extrabold);
}

@include media(text-extrabold) {
  font-weight: var(--dash-font-weight-extrabold);
}

.text-italic {
  font-style: italic;
}

@include media(text-italic) {
  font-style: italic;
}

.text-center {
  text-align: center;
}

@include media(text-center) {
  text-align: center;
}

.text-left {
  text-align: left;
}

@include media(text-left) {
  text-align: left;
}

.text-right {
  text-align: right;
}

@include media(text-right) {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

@include media(text-justify) {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

@include media(underline) {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

@include media(line-through) {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

@include media(no-underline) {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

@include media(capitalize) {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

@include media(uppercase) {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

@include media(lowercase) {
  text-transform: lowercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@include media(ellipsis) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
