$colors: (
  'primary': var(--dash-color-primary),
  'secondary': var(--dash-color-secondary),
  'white': var(--dash-color-white),
  'black': var(--dash-color-black),
  'gray': var(--dash-color-gray),
  'red': var(--dash-color-red),
  'orange': var(--dash-color-orange),
  'yellow': var(--dash-color-yellow),
  'green': var(--dash-color-green),
  'teal': var(--dash-color-teal),
  'blue': var(--dash-color-blue),
  'indigo': var(--dash-color-indigo),
  'cyan': var(--dash-color-cyan),
  'purple': var(--dash-color-purple),
  'pink': var(--dash-color-pink),
);
$sizes: (
  'xs': var(--dash-size-xs),
  'sm': var(--dash-size-sm),
  'md': var(--dash-size-md),
  'lg': var(--dash-size-lg),
  'xl': var(--dash-size-xl),
  '2xl': var(--dash-size-2xl),
  '3xl': var(--dash-size-3xl),
  '4xl': var(--dash-size-4xl),
  '5xl': var(--dash-size-5xl),
  '6xl': var(--dash-size-6xl),
  '7xl': var(--dash-size-7xl),
  '8xl': var(--dash-size-8xl),
  '9xl': var(--dash-size-9xl),
  'full': var(--dash-size-full),
  'screen': var(--dash-size-screen),
);

$numbers: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
);

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px,
);
