.h-sm {
  height: var(--dash-spacing-sm);
}

.h-md {
  height: var(--dash-spacing-md);
}

.h-lg {
  height: var(--dash-spacing-lg);
}

.h-xl {
  height: var(--dash-spacing-xl);
}

.h-2xl {
  height: var(--dash-spacing-2xl);
}

.h-3xl {
  height: var(--dash-spacing-3xl);
}

.h-4xl {
  height: var(--dash-spacing-4xl);
}

.h-5xl {
  height: var(--dash-spacing-5xl);
}

.h-6xl {
  height: var(--dash-spacing-6xl);
}

.h-full {
  height: 100%;
}

.h-1\/2 {
  height: 50%;
}

.h-1\/3 {
  height: 33.333333%;
}

.h-2\/3 {
  height: 66.666667%;
}

.max-h-sm {
  max-height: var(--dash-spacing-sm);
}

.max-h-md {
  max-height: var(--dash-spacing-md);
}

.max-h-lg {
  max-height: var(--dash-spacing-lg);
}

.max-h-xl {
  max-height: var(--dash-spacing-xl);
}

.max-h-full {
  max-height: 100%;
}

.min-h-sm {
  min-height: var(--dash-spacing-sm);
}

.min-h-md {
  min-height: var(--dash-spacing-md);
}

.min-h-lg {
  min-height: var(--dash-spacing-lg);
}

.min-h-xl {
  min-height: var(--dash-spacing-xl);
}

.min-h-full {
  min-height: 100%;
}
