.loader-1 {
  border: 5px solid var(--dash-color-gray);
  border-bottom-color: var(--dash-color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: dash-rotation 1s linear infinite;
}

.loader-2 {
  border: 5px solid var(--dash-color-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: dash-rotation 1s linear infinite;
}

.loader-3 {
  display: inline-block;
  position: relative;
}

.loader-3::after,
.loader-3::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: dash-animloader 2s linear infinite;
}
.loader-3::after {
  animation-delay: 1s;
}


.loader-primary {
  border-bottom-color: var(--dash-color-primary);
}

.loader-secondary {
  border-bottom-color: var(--dash-color-secondary);
}

.loader-white {
  border-bottom-color: var(--dash-color-white);
}

.loader-black {
  border-bottom-color: var(--dash-color-black);
}

.loader-gray {
  border-bottom-color: var(--dash-color-gray);
}

.loader-red {
  border-bottom-color: var(--dash-color-red);
}

.loader-orange {
  border-bottom-color: var(--dash-color-orange);
}

.loader-yellow {
  border-bottom-color: var(--dash-color-yellow);
}

.loader-green {
  border-bottom-color: var(--dash-color-green);
}

.loader-teal {
  border-bottom-color: var(--dash-color-teal);
}

.loader-blue {
  border-bottom-color: var(--dash-color-blue);
}

.loader-indigo {
  border-bottom-color: var(--dash-color-indigo);
}

.loader-purple {
  border-bottom-color: var(--dash-color-purple);
}

.loader-pink {
  border-bottom-color: var(--dash-color-pink);
}

.loader-sm {
  width: var(--dash-spacing-sm);
  height: var(--dash-spacing-sm);
}

.loader-md {
  width: var(--dash-spacing-md);
  height: var(--dash-spacing-md);
}

.loader-lg {
  width: var(--dash-spacing-lg);
  height: var(--dash-spacing-lg);
}

.loader-xl {
  width: var(--dash-spacing-xl);
  height: var(--dash-spacing-xl);
}

.loader-2xl {
  width: var(--dash-spacing-2xl);
  height: var(--dash-spacing-2xl);
}

.loader-3xl {
  width: var(--dash-spacing-3xl);
  height: var(--dash-spacing-3xl);
}

.loader-4xl {
  width: var(--dash-spacing-4xl);
  height: var(--dash-spacing-4xl);
}

.loader-5xl {
  width: var(--dash-spacing-5xl);
  height: var(--dash-spacing-5xl);
}

.loader-6xl {
  width: var(--dash-spacing-6xl);
  height: var(--dash-spacing-6xl);
}
