.m-auto {
  margin: auto;
}

.m-sm {
  margin: var(--dash-spacing-sm);
}

.m-md {
  margin: var(--dash-spacing-md);
}

.m-lg {
  margin: var(--dash-spacing-lg);
}

.m-xl {
  margin: var(--dash-spacing-xl);
}

.mt-sm {
  margin-top: var(--dash-spacing-sm);
}

.mt-md {
  margin-top: var(--dash-spacing-md);
}

.mt-lg {
  margin-top: var(--dash-spacing-lg);
}

.mt-xl {
  margin-top: var(--dash-spacing-xl);
}

.mr-sm {
  margin-right: var(--dash-spacing-sm);
}

.mr-md {
  margin-right: var(--dash-spacing-md);
}

.mr-lg {
  margin-right: var(--dash-spacing-lg);
}

.mr-xl {
  margin-right: var(--dash-spacing-xl);
}

.mb-sm {
  margin-bottom: var(--dash-spacing-sm);
}

.mb-md {
  margin-bottom: var(--dash-spacing-md);
}

.mb-lg {
  margin-bottom: var(--dash-spacing-lg);
}

.mb-xl {
  margin-bottom: var(--dash-spacing-xl);
}

.ml-sm {
  margin-left: var(--dash-spacing-sm);
}

.ml-md {
  margin-left: var(--dash-spacing-md);
}

.ml-lg {
  margin-left: var(--dash-spacing-lg);
}

.ml-xl {
  margin-left: var(--dash-spacing-xl);
}

.mx-sm {
  margin-left: var(--dash-spacing-sm);
  margin-right: var(--dash-spacing-sm);
}

.mx-md {
  margin-left: var(--dash-spacing-md);
  margin-right: var(--dash-spacing-md);
}

.mx-lg {
  margin-left: var(--dash-spacing-lg);
  margin-right: var(--dash-spacing-lg);
}

.mx-xl {
  margin-left: var(--dash-spacing-xl);
  margin-right: var(--dash-spacing-xl);
}

.my-sm {
  margin-top: var(--dash-spacing-sm);
  margin-bottom: var(--dash-spacing-sm);
}

.my-md {
  margin-top: var(--dash-spacing-md);
  margin-bottom: var(--dash-spacing-md);
}

.my-lg {
  margin-top: var(--dash-spacing-lg);
  margin-bottom: var(--dash-spacing-lg);
}

.my-xl {
  margin-top: var(--dash-spacing-xl);
  margin-bottom: var(--dash-spacing-xl);
}
