.p-sm {
  padding: var(--dash-spacing-sm);
}

.p-md {
  padding: var(--dash-spacing-md);
}

.p-lg {
  padding: var(--dash-spacing-lg);
}

.p-xl {
  padding: var(--dash-spacing-xl);
}

.pt-sm {
  padding-top: var(--dash-spacing-sm);
}

.pt-md {
  padding-top: var(--dash-spacing-md);
}

.pt-lg {
  padding-top: var(--dash-spacing-lg);
}

.pt-xl {
  padding-top: var(--dash-spacing-xl);
}

.pr-sm {
  padding-right: var(--dash-spacing-sm);
}

.pr-md {
  padding-right: var(--dash-spacing-md);
}

.pr-lg {
  padding-right: var(--dash-spacing-lg);
}

.pr-xl {
  padding-right: var(--dash-spacing-xl);
}

.pb-sm {
  padding-bottom: var(--dash-spacing-sm);
}

.pb-md {
  padding-bottom: var(--dash-spacing-md);
}

.pb-lg {
  padding-bottom: var(--dash-spacing-lg);
}

.pb-xl {
  padding-bottom: var(--dash-spacing-xl);
}

.pl-sm {
  padding-left: var(--dash-spacing-sm);
}

.pl-md {
  padding-left: var(--dash-spacing-md);
}

.pl-lg {
  padding-left: var(--dash-spacing-lg);
}

.pl-xl {
  padding-left: var(--dash-spacing-xl);
}

.px-sm {
  padding-left: var(--dash-spacing-sm);
  padding-right: var(--dash-spacing-sm);
}

.px-md {
  padding-left: var(--dash-spacing-md);
  padding-right: var(--dash-spacing-md);
}

.px-lg {
  padding-left: var(--dash-spacing-lg);
  padding-right: var(--dash-spacing-lg);
}

.px-xl {
  padding-left: var(--dash-spacing-xl);
  padding-right: var(--dash-spacing-xl);
}

.py-sm {
  padding-top: var(--dash-spacing-sm);
  padding-bottom: var(--dash-spacing-sm);
}

.py-md {
  padding-top: var(--dash-spacing-md);
  padding-bottom: var(--dash-spacing-md);
}

.py-lg {
  padding-top: var(--dash-spacing-lg);
  padding-bottom: var(--dash-spacing-lg);
}

.py-xl {
  padding-top: var(--dash-spacing-xl);
  padding-bottom: var(--dash-spacing-xl);
}
