.shadow-sm {
  box-shadow: var(--dash-shadow-sm)
}

.shadow-md {
  box-shadow: var(--dash-shadow-md)
}

.shadow-lg {
  box-shadow: var(--dash-shadow-lg)
}

.shadow-xl {
  box-shadow: var(--dash-shadow-xl)
}