.bg-primary {
  background-color: var(--dash-color-primary);
}

.bg-secondary {
  background-color: var(--dash-color-secondary);
}

.bg-white {
  background-color: var(--dash-color-white);
}

.bg-black {
  background-color: var(--dash-color-black);
}

.bg-gray {
  background-color: var(--dash-color-gray);
}

.bg-red {
  background-color: var(--dash-color-red);
}

.bg-orange {
  background-color: var(--dash-color-orange);
}

.bg-yellow {
  background-color: var(--dash-color-yellow);
}

.bg-green {
  background-color: var(--dash-color-green);
}

.bg-teal {
  background-color: var(--dash-color-teal);
}

.bg-blue {
  background-color: var(--dash-color-blue);
}

.bg-indigo {
  background-color: var(--dash-color-indigo);
}

.bg-cyan {
  background-color: var(--dash-color-cyan);
}

.bg-purple {
  background-color: var(--dash-color-purple);
}

.bg-pink {
  background-color: var(--dash-color-pink);
}

.bg-transparent {
  background-color: transparent;
}

