.blur {
    -webkit-filter: blur(var(--dash-blur-sm));
    -moz-filter: blur(var(--dash-blur-sm));
    -o-filter: blur(var(--dash-blur-sm));
    -ms-filter: blur(var(--dash-blur-sm));
    filter: blur(var(--dash-blur-sm));
}

.blur-sm {
    -webkit-filter: blur(var(--dash-blur-sm));
    -moz-filter: blur(var(--dash-blur-sm));
    -o-filter: blur(var(--dash-blur-sm));
    -ms-filter: blur(var(--dash-blur-sm));
    filter: blur(var(--dash-blur-sm));
}

.blur-md {
    -webkit-filter: blur(var(--dash-blur-md));
    -moz-filter: blur(var(--dash-blur-md));
    -o-filter: blur(var(--dash-blur-md));
    -ms-filter: blur(var(--dash-blur-md));
    filter: blur(var(--dash-blur-md));
}

.blur-lg {
    -webkit-filter: blur(var(--dash-blur-lg));
    -moz-filter: blur(var(--dash-blur-lg));
    -o-filter: blur(var(--dash-blur-lg));
    -ms-filter: blur(var(--dash-blur-lg));
    filter: blur(var(--dash-blur-lg));
}

.blur-xl {
    -webkit-filter: blur(var(--dash-blur-xl));
    -moz-filter: blur(var(--dash-blur-xl));
    -o-filter: blur(var(--dash-blur-xl));
    -ms-filter: blur(var(--dash-blur-xl));
    filter: blur(var(--dash-blur-xl));
}