.round-sm {
  border-radius: var(--dash-rounded-sm);
}

.round-md {
  border-radius: var(---dash-rounded-md);
}

.round-lg {
  border-radius: var(--dash-rounded-lg);
}

.round-full {
  border-radius: var(--dash-rounded-full);
}
